oadr2-app/src/test/resources/lmp_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://oasis.caiso.com/mrtu-oasis/xsd/OASISReport.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OASISReport" type="oas:OASISReportType" xmlns:oas="http://oasis.caiso.com/mrtu-oasis/xsd/OASISReport.xsd"/>
  <xs:complexType name="REPORT_HEADERType">
    <xs:sequence>
      <xs:element type="xs:string" name="SYSTEM"/>
      <xs:element type="xs:string" name="TZ"/>
      <xs:element type="xs:string" name="REPORT"/>
      <xs:element type="xs:string" name="MKT_TYPE"/>
      <xs:element type="xs:string" name="UOM"/>
      <xs:element type="xs:string" name="INTERVAL"/>
      <xs:element type="xs:short" name="SEC_PER_INTERVAL"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="REPORT_DATAType">
    <xs:sequence>
      <xs:element name="DATA_ITEM">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration>
              <value>LMP_LOSS_PRC</value>
            </xs:enumeration>
            <xs:enumeration>
              <value>LMP_ENE_PRC</value>
            </xs:enumeration>
            <xs:enumeration>
              <value>LMP_PRC</value>
            </xs:enumeration>
            <xs:enumeration>
              <value>LMP_CONG_PRC</value>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="RESOURCE_NAME"/>
      <xs:element type="xs:date" name="OPR_DATE"/>
      <xs:element type="xs:byte" name="INTERVAL_NUM"/>
      <xs:element type="xs:float" name="VALUE"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="REPORT_ITEMType">
    <xs:sequence>
      <xs:element type="oas:REPORT_HEADERType" name="REPORT_HEADER" xmlns:oas="http://oasis.caiso.com/mrtu-oasis/xsd/OASISReport.xsd"/>
      <xs:element type="oas:REPORT_DATAType" name="REPORT_DATA" maxOccurs="unbounded" minOccurs="0" xmlns:oas="http://oasis.caiso.com/mrtu-oasis/xsd/OASISReport.xsd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DISCLAIMER_ITEMType">
    <xs:sequence>
      <xs:element type="xs:string" name="DISCLAIMER"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RTOType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="oas:REPORT_ITEMType" name="REPORT_ITEM" maxOccurs="unbounded" minOccurs="0" xmlns:oas="http://oasis.caiso.com/mrtu-oasis/xsd/OASISReport.xsd"/>
      <xs:element type="oas:DISCLAIMER_ITEMType" name="DISCLAIMER_ITEM" xmlns:oas="http://oasis.caiso.com/mrtu-oasis/xsd/OASISReport.xsd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MessagePayloadType">
    <xs:sequence>
      <xs:element type="oas:RTOType" name="RTO" xmlns:oas="http://oasis.caiso.com/mrtu-oasis/xsd/OASISReport.xsd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OASISReportType">
    <xs:sequence>
      <xs:element type="oas:MessagePayloadType" name="MessagePayload" xmlns:oas="http://oasis.caiso.com/mrtu-oasis/xsd/OASISReport.xsd"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>